__pycache__/
**/__pycache__
**/**/__pycache__
**/**/**/__pycache__
**.pyc
**.pyo
Result/
stDiff-ckpt/
violin/
datasets/
setup.py
ckpt/
ckpt_W&B/
ckpt_seed_2/
stDiff.egg-info/
stDiff/
dist/
requirements_v2.txt
result_delete.ipynb
demo_pypi.ipynb
mean-std.ipynb
spscope_output/
output/
spared/
loss_figures/
run_completion.sh
run_seed_experiment.sh
results_visualizations/
wandb/
model_transformer/
*.sh
ckpt_exp/
ckpt_nn/
ckpt_nn_center/
ckpt_nn_LRS/
ckpt_noise_loss_7/
ckpt_spots/

